.card-img-top{
  width: 390px;
  height: 200px;
  border-radius: 7px; 
  }
  .card{
      border-width: 1px;
      margin: 20px !important;
      width: 400px;
      padding: 2px;
      height: 300px !important;
      align-items: center;
      color: black;
      font-size:medium;
      font-weight: bold;
      border-radius: 5px;
  }
  .card:hover {
      box-shadow: 0 10px 16px 0 rgb(211, 222, 222);
    }